#content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

/* tab */
#days-tab {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	border-radius: 3rem; /* var(--border-radius); */
	border: 1px solid var(--border-color);
	background-color: #f1f1f1;
}

.tab-button {
	flex-grow: 1;

	border: none;
	border-radius: inherit;

	outline: none;

	background-color: inherit;
	transition: background-color 0.4s;
	height: 2.5rem;
}

.tab-button:hover {
	background-color: #ddd;
}

.tab-button.active {
	background-color: #aaa;
}

.tab-delimiter {
	height: 1px;
	flex-shrink: 0;
	border: none;
	align-self: stretch;
	background-color: var(--border-color);
}


/* schedule */
#days-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.day {
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	display: none;
}

.day-title {
	margin: 1rem;
	text-align: center;
}

.classes-container {
	display: flex;
	flex-direction: column;
}

.classes-container > hr {
	margin: 0 0.75rem;
}

.class {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: stretch;
	align-items: center;

	padding: 1rem 0.75rem;
}

.class:nth-child(4n - 2) {
	background-color: rgba(255, 255, 255, 0.4);
}

/* class info */
.class-time-container {
	min-width: 4rem;
	text-align: center;
}

.class-time-start {
	margin: 0;
	font-size: 1.2rem;
	opacity: 1;
	font-weight: bold;
}

.class-time-end {
	margin: 0;
	opacity: 0.8;
}

.vl {
	width: 1px;
	flex-shrink: 0;
	border: none;
	align-self: stretch;
	background-color: var(--border-color);
}

.class-info-container {
	flex-grow: 1;
}

.class-name {
	margin: 0;
	color: var(--accent-color)
}

.label-text {
	font-size: 0.8rem;
	opacity: 0.8;
}

.rooms {
	font-weight: bold;
}

.teachers {
	font-weight: bold;
}

.class-number {
	margin: 0 0.25rem;

	align-self: flex-start;
	font-size: 1.2rem;
	opacity: 0.65;
}
