:root {
	--background-color: #eaeaea;
	--interact-color: #e2e2e2;
	--interact-hover-color: #d9d9d9;
	--accent-color: #07004b;

	--border-radius: 0.5rem;
	--border-color: #bebebe;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: min(18px, 4vw);
}

body {
	margin: 0;
	background-color: var(--background-color);
}

header {
	position: sticky;
	top: 0;
	z-index: 999;

	padding: 0.75em;
	height: 2.5em;

	background-color: var(--interact-color);
}

header>a {
	text-decoration: none;
	color: inherit;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5em;

	max-width: fit-content;
	height: 100%;
}

header img {
	height: 100%;
}

header h1 {
	margin: 0;
}

select,
button {
	background-color: var(--interact-color);
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	margin: 0;
	min-width: fit-content;
	width: 10em;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	cursor: pointer;
}

select:hover,
button:hover {
	background-color: var(--interact-hover-color);
}

select:disabled,
button:disabled {
	cursor: default;
	background-color: var(--background-color);
}

hr {
	height: 1px;
	border: none;
	margin: 0.5rem 0.75rem;
	background-color: var(--border-color);
}



#content {
	margin: 1rem;
}

#uni-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#uni-form h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}



#days-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.day {
	/* padding: 1rem; */
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
}

.day-title {
	margin: 1rem;
}

.classes-container {
	display: flex;
	flex-direction: column;
}

.class {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: stretch;
	align-items: center;

	padding: 0.5rem 0.75rem;
}

.class:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.4);
}

/* class info */
.class-time-container {
	min-width: 4rem;
}

.class-time-start {
	margin: 0;
	font-size: 1.2rem;
	opacity: 1
}

.class-time-end {
	margin: 0;
	font-size: 0.8rem;
	opacity: 0.5;
}

.vl {
	width: 1px;
	flex-shrink: 0;
	border: none;
	align-self: stretch;
	background-color: var(--border-color);
}

.class-info-container {
	flex-grow: 1;
}

.class-name {
	margin: 0;
	color: var(--accent-color)
}

.label-text {
	font-size: 0.9rem;
	opacity: 0.9;
}

.class-number {
	margin: 0 0.25rem;

	align-self: flex-start;
	font-size: 1.2rem;
	opacity: 0.65;
}