{% extends "base.html" %}

{% block title %}{% endblock %}

{% block scripts %}
<script src="/static/index.js"></script>
{% endblock %}

{% block content %}
<form action="/schedule" method="get" id="uni-form" style="text-align: center">
	<div id="uni-container">
		<h3>Высшее учебное заведение</h3>
		<select name="university" id="uni-select">
			<option hidden disabled selected value>-- Выберете ВУЗ --</option>
		</select>
	</div>
	<div id="faculty-container">
		<h3>Факультет</h3>
		<select name="faculty" id="faculty-select">
			<option hidden disabled selected value>-- Выберете факультет --</option>
		</select>
	</div>
	<div id="course-container">
		<h3>Курс</h3>
		<select name="course" id="course-select">
			<option hidden disabled selected value>-- Выберете курс --</option>
		</select>
	</div>
	<div id="group-container">
		<h3>Группа</h3>
		<select name="group" id="group-select">
			<option hidden disabled selected value>-- Выберете группу --</option>
		</select>
	</div>
	<div id="button-container">
		<button action="submit" id="search-button">Найти</button>
	</div>
</form>
<hr style="text-align: center">
	Это сайт позволяет найти интересующее Вас расписание в пару кликов, избавляя от необходимости пользоваться неудобными Excel&#45;таблицами и PDF&#45;файлами.
</hr>
{% endblock %}
