{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div id="days-container">
	{% for day in ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"] %}
	<div class="day">
		<h2 class="day-title">{{ day }}</h2>
		<hr>
		<div class="classes-container">
			{% for class in days[loop.index0] %}
			{% if class.name %}
			<div class="class">
				<table>
					<td>
						<p class="class-time-start">{{ class.start }}</p>
						<p class="class-time-end">{{ class.end }}</p>
					</td>
					<td>
						<h3 class="class-name">{{ class.name }}</h3>
						{% if class.teachers and class.teachers[0] %}
						<div class="teachers-container">{% if class.teachers[1] %} Преподаватели: {% else %} Преподаватель: {% endif %} {{ class.teachers | join(", ") }}</div>
						{% endif %}
						{% if class.rooms and class.rooms[0] %}
						<div class="rooms-container">{% if class.teachers[1] %} Аудитории: {% else %} Аудитория: {% endif %} {{ class.rooms | join(", ") }}</div>
						{% endif %}
					</td>
				</table>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
