{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div id="days-container">
	{% for day in ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"] %}
	<div class="day">
		<h2 class="day-title">{{ day }}</h2>
		<hr>
		<div class="classes-container">
			{% for class in days[loop.index0] %}
			{% if class.name %}
			<div class="class">
				<div class="class-time-container">
					<p class="class-time-start">{{ class.start }}</p>
					<p class="class-time-end">{{ class.end }}</p>
				</div>
				<div class="vl"></div>
				<div class="class-info-container">
					<h3 class="class-name">{{ class.name }}</h3>
					{% if class.teachers[0] %}
					<div class="teachers-container">
						<span class="label-text">
							{% if class.teachers | length > 1 %}
								Преподаватели:
							{% else %}
								Преподаватель:
							{% endif %}
						</span>
						{{ class.teachers | join(", ") }}
					</div>
					{% endif %}
					{% if class.rooms[0] %}
					<div class="rooms-container">
						<span class="label-text">
							{% if class.teachers | length > 1 %}
								Аудитории:
							{% else %}
								Аудитория:
							{% endif %}
						</span>
						{{ class.rooms | join(", ") }}
					</div>
					{% endif %}
				</div>
				<div class="class-number">{{ loop.index }}</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
